<table mat-table [dataSource]="testList" class="report">
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef class="tested-url">Tested URL</th>
    <td mat-cell *matCellDef="let url" class="tested-url">{{ url.url }}</td>
  </ng-container>

  <ng-container matColumnDef="testedRule">
    <th mat-header-cell *matHeaderCellDef class="tested-rule">Tested Rule</th>
    <td mat-cell *matCellDef="let url" class="tested-rule">
      {{ url.mappingRule }}
    </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef class="result">Result</th>
    <td mat-cell *matCellDef="let url" class="result">
      {{ getPassText(url) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="issues">
    <th mat-header-cell *matHeaderCellDef class="issues">Issues</th>
    <td mat-cell *matCellDef="let url" class="issues">
      {{ getIssuesText(url) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="mappingRules">
    <th mat-header-cell *matHeaderCellDef class="mapping-rules">
      Mapping Rules
    </th>
    <td mat-cell *matCellDef="let url" class="mapping-rules">
      {{ url.status === 2 ? url.testResults.versaTags[0]?.mappingRules : "" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="queryString">
    <th mat-header-cell *matHeaderCellDef class="query-string">
      Query String
    </th>
    <td mat-cell *matCellDef="let url" class="query-string">
      {{ url.status === 2 ? url.testResults.versaTags[0]?.queryString : "" }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="[
      'url',
      'testedRule',
      'result',
      'issues',
      'mappingRules',
      'queryString'
    ]"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: [
        'url',
        'testedRule',
        'result',
        'issues',
        'mappingRules',
        'queryString'
      ]
    "
  ></tr>
</table>
