<table mat-table [dataSource]="testList">
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Result</th>
    <td mat-cell *matCellDef="let url">{{ getPassText(url) }}</td>
  </ng-container>

  <ng-container matColumnDef="issues">
    <th mat-header-cell *matHeaderCellDef>Issues</th>
    <td mat-cell *matCellDef="let url">{{ getIssuesText(url) }}</td>
  </ng-container>

  <ng-container matColumnDef="mappingRules">
    <th mat-header-cell *matHeaderCellDef>Mapping Rules</th>
    <td mat-cell *matCellDef="let url">
      {{ url.status === 2 ? url.testResults.versaTags[0].mappingRules : "" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="queryString">
    <th mat-header-cell *matHeaderCellDef>Query String</th>
    <td mat-cell *matCellDef="let url">
      {{ url.status === 2 ? url.testResults.versaTags[0].queryString : "" }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['result', 'issues', 'mappingRules', 'queryString']"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: ['result', 'issues', 'mappingRules', 'queryString']
    "
  ></tr>
</table>
