<mat-table [dataSource]="testList" class="report">
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef class="tested-url"
      >Tested URL</mat-header-cell
    >
    <mat-cell *matCellDef="let url" class="tested-url">{{ url.url }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="testedRule">
    <mat-header-cell *matHeaderCellDef class="tested-rule"
      >Tested Rule</mat-header-cell
    >
    <mat-cell *matCellDef="let url" class="tested-rule">{{
      url.mappingRule
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="result">
    <mat-header-cell *matHeaderCellDef class="result">Result</mat-header-cell>
    <mat-cell *matCellDef="let url" class="result">{{
      getPassText(url)
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="issues">
    <mat-header-cell *matHeaderCellDef class="issues">Issues</mat-header-cell>
    <mat-cell *matCellDef="let url" class="issues">{{
      getIssuesText(url)
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mappingRules">
    <mat-header-cell *matHeaderCellDef class="mapping-rules"
      >Mapping Rules</mat-header-cell
    >
    <mat-cell *matCellDef="let url" class="mapping-rules">
      {{ url.status === 2 ? url.testResults.versaTags[0]?.mappingRules : "" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="queryString">
    <mat-header-cell *matHeaderCellDef class="query-string"
      >Query String</mat-header-cell
    >
    <mat-cell *matCellDef="let url" class="query-string">
      {{ url.status === 2 ? url.testResults.versaTags[0]?.queryString : "" }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="[
      'url',
      'testedRule',
      'result',
      'issues',
      'mappingRules',
      'queryString'
    ]"
  ></mat-header-row>
  <mat-row
    *matRowDef="
      let row;
      columns: [
        'url',
        'testedRule',
        'result',
        'issues',
        'mappingRules',
        'queryString'
      ]
    "
  ></mat-row>
</mat-table>
