.report {
  padding: 10px;

  td {
    padding: 3px;
  }

  .tested-url,
  .query-string {
    word-break: break-all;
  }

  td.result,
  td.issues {
    color: red;

    &.pass {
      color: blue;
    }
  }
}
