.spacer {
  flex: 1 1 auto;
}

.pill {
  padding: 3px 10px;
  border-radius: 20px;
}

.blue {
  color: white;
  background-color: blue;
}

.green {
  color: white;
  background-color: green;
}

.red.red {
  color: white;
  background-color: red;
}

.vt-result {
  .tag-id {
    flex: 0.5;
  }

  .mapping-rule {
    flex: 1;
  }

  .query-string {
    flex: 2;
    word-break: break-all;
  }
}

::ng-deep {
  .mat-header-cell,
  .mat-cell {
    padding: 10px 5px;
  }

  .mat-expansion-panel {
    .mat-content {
      * {
        align-items: center;

        .retry-button {
          margin-right: 10px;
        }
      }

      .mat-expansion-panel-header-title {
        width: 50%;
      }
    }
  }
}
