<mat-accordion>
  <mat-expansion-panel *ngFor="let url of testList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button
          mat-mini-fab
          color="primary"
          class="retry-button"
          (click)="$event.stopPropagation(); retry.emit(url)"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        {{ url.url }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="status">
          {{ statusText[url.status] }}
        </div>
        <span class="spacer"></span>
        <div class="results">
          <span
            class="pill blue"
            [class.red]="!service.isPass(url, versaTagId)"
          >
            {{ getPassText(url) }}
          </span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="margin: 10px 0px;">
      Issues:
      <span class="pill blue" [class.red]="!service.isPass(url, versaTagId)">
        {{ getIssuesText(url) }}
      </span>
    </div>

    <div>
      Expected Mapping Rule: {{ url.mappingRule }}
      <span
        class="pill green"
        [class.red]="!service.isMappingRuleActivated(url)"
      >
        {{
          service.isMappingRuleActivated(url) ? "Activated" : "Not Activated"
        }}
      </span>
    </div>
    <div>
      Final URL: {{ url.testResults.finalURL }}
      <span class="pill red" *ngIf="service.isRedirect(url).fullResult">
        Redirected
      </span>
    </div>
    <div>
      HTTP Status: {{ url.testResults.pageStatus }}
      <span class="pill red" *ngIf="service.is404(url)"
        >Page has 404 error</span
      >
    </div>
    <div>
      Versa Tags
      <span class="pill red" *ngIf="!url.testResults?.versaTags?.length"
        >No VersaTag Fired</span
      >
      <span class="pill red" *ngIf="service.isMultipleTags(url)"
        >Multiple VersaTags Fired</span
      >
    </div>
    <mat-table [dataSource]="url.testResults.versaTags" class="vt-result">
      <ng-container matColumnDef="versaTagId">
        <mat-header-cell *matHeaderCellDef class="tag-id">
          Versa Tag
        </mat-header-cell>
        <mat-cell *matCellDef="let versaTag" class="tag-id">
          {{ versaTag.versaTagId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mappingRules">
        <mat-header-cell *matHeaderCellDef class="mapping-rules">
          Mapping Rules
        </mat-header-cell>
        <mat-cell *matCellDef="let versaTag" class="mapping-rules">
          {{ versaTag.mappingRules }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="queryString">
        <mat-header-cell *matHeaderCellDef class="query-string"
          >Query String</mat-header-cell
        >
        <mat-cell *matCellDef="let versaTag" class="query-string">{{
          versaTag.queryString
        }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['versaTagId', 'mappingRules', 'queryString']"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: ['versaTagId', 'mappingRules', 'queryString']
        "
      ></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
