<mat-accordion>
  <mat-expansion-panel *ngFor="let url of testList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button
          mat-mini-fab
          color="primary"
          class="retry-button"
          (click)="$event.stopPropagation(); retry.emit(url)"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        {{ url.url }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="status">
          {{ statusText[url.status] }}
        </div>
        <span class="spacer"></span>
        <div class="results">
          {{ getPassText(url) }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ getIssuesText(url) }}</div>

    <div>Expected Mapping Rule: {{ url.mappingRule }}</div>
    <div>Final URL: {{ url.testResults.finalURL }}</div>
    <div>HTTP Status: {{ url.testResults.pageStatus }}</div>
    <div>Versa Tags</div>
    <mat-table [dataSource]="url.testResults.versaTags" class="vt-result">
      <ng-container matColumnDef="versaTagId">
        <mat-header-cell *matHeaderCellDef class="tag-id"
          >Versa Tag</mat-header-cell
        >
        <mat-cell *matCellDef="let versaTag" class="tag-id">{{
          versaTag.versaTagId
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="mappingRules">
        <mat-header-cell *matHeaderCellDef class="mapping-rules"
          >Mapping Rules</mat-header-cell
        >
        <mat-cell *matCellDef="let versaTag" class="mapping-rules">{{
          versaTag.mappingRules
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="queryString">
        <mat-header-cell *matHeaderCellDef class="query-string"
          >Query String</mat-header-cell
        >
        <mat-cell *matCellDef="let versaTag" class="query-string">{{
          versaTag.queryString
        }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['versaTagId', 'mappingRules', 'queryString']"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: ['versaTagId', 'mappingRules', 'queryString']
        "
      ></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
