<div class="input-container">
  <mat-form-field appearance="outline" class="url-input">
    <mat-label>Test Data</mat-label>
    <textarea
      matInput
      placeholder="URL + Mapping Rules"
      [formControl]="urlInput"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="6"
    ></textarea>
    <mat-hint>URL followed by mapping rule</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Versa Tag Id</mat-label>
    <input
      matInput
      type="number"
      placeholder="Versa Tag Id"
      [formControl]="versaTagId"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Max In Progress</mat-label>
    <input
      matInput
      type="number"
      placeholder="Max In Progress"
      [formControl]="maxInProgress"
    />
    <mat-hint>How many tags will process at the same time?</mat-hint>
  </mat-form-field>

  <button
    mat-raised-button
    color="{{ urlInput.enabled ? 'primary' : 'warn' }}"
    (click)="toggleLocked()"
  >
    {{ urlInput.enabled ? "Lock List" : "Unlock List" }}
  </button>
</div>
