<app-title-bar (startTesting)="startTesting()"></app-title-bar>
<app-user-input
  [urlInput]="urlInput"
  [versaTagId]="versaTagId"
></app-user-input>

<mat-tab-group mat-stretch-tabs color="warn" backgroundColor="primary">
  <mat-tab label="Details">
    <app-details-tab
      [testList]="testList"
      [getIssuesText]="getIssuesText"
      [getPassText]="getPassText"
    ></app-details-tab>
  </mat-tab>
  <mat-tab label="Report">
    <app-report-tab
      [testList]="testList"
      [getIssuesText]="getIssuesText"
      [getPassText]="getPassText"
    ></app-report-tab>
  </mat-tab>
</mat-tab-group>
