<mat-toolbar color="primary">
  <span>VersaTag Tester</span>
  <span class="spacer"></span>
  <button mat-stroked-button (click)="startTesting()">
    Start Test
  </button>
</mat-toolbar>

<div class="input-container">
  <mat-form-field appearance="outline" class="url-input">
    <textarea
      matInput
      placeholder="URLs"
      [formControl]="urlInput"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="6"
    ></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="{{ urlInput.enabled ? 'primary' : 'warn' }}"
    (click)="toggleLocked()"
  >
    {{ urlInput.enabled ? "Lock List" : "Unlock List" }}
  </button>
</div>

<div *ngFor="let url of testList">
  <div>URL: {{ url.url }}</div>
  <div>Mapping Rule: {{ url.mappingRule }}</div>
  <div>Status: {{ url.status }}</div>
  <div>Results: {{ url.testResults | json }}</div>
  <br />
</div>
