<app-title-bar (startTesting)="startTesting()"></app-title-bar>
<app-user-input
  [urlInput]="urlInput"
  [versaTagId]="versaTagId"
  [maxInProgress]="maxInProgress"
></app-user-input>

<span>{{ totalTested }}/{{ testList.length }} Processed</span>
<mat-progress-bar
  mode="determinate"
  [value]="(totalTested / testList.length) * 100"
  color="accent"
></mat-progress-bar>

<mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
  <mat-tab label="Details">
    <app-details-tab
      [testList]="testList"
      [getIssuesText]="getIssuesText.bind(this)"
      [getPassText]="getPassText.bind(this)"
      (retry)="retry($event)"
    ></app-details-tab>
  </mat-tab>
  <mat-tab label="Report">
    <app-report-tab
      [testList]="testList"
      [getIssuesText]="getIssuesText.bind(this)"
      [getPassText]="getPassText.bind(this)"
    ></app-report-tab>
  </mat-tab>
</mat-tab-group>
